<% content_for :logo do %>
<%= render :partial => 'shared/logo' %>
<% end %>

<% content_for :sidebar do %>
<%= render :partial => 'shared/folders' %>
<% end %>


<div class="block" id="block-tables">
    <div class="secondary-navigation">
        <%= raw main_navigation(:folders) %>
    </div>
    <div class="content">
        <%= form_tag({:controller=>'webmail', :action=>'messages'})%>
            <%= render :partial => 'shared/msg_ops' %>
            <%= render :partial => "search" %>
            <%= render :partial => 'shared/messages' %>
        </form>
    </div>
</div>
