<div class="inner">

<div class="actions-bar wat-cf">
    <div class="header_info"><%= t(:current,:scope=>:folder) %>: <%= pretty_folder_name(@current_folder) %>
    <span class="other_info">(<%= t(:total,:scope=>:message) %>: <%= @messages.total_entries %>)</span>
    </div>
    <%= will_paginate @messages %>
</div>

    <table class="table">
    <tbody>
    <tr>
        <th class="first"><input id="togglechkbox" class="checkbox toggle" type="checkbox" name="allbox" onclick=toggleCheckBoxes(this.form); /></th>
        <th><%= raw('&nbsp;') %></th>
        <%= raw headers_links %>
        <th class="last"></th>
    </tr>
    <% trclass = :even %>
    <% @messages.each do |m| %>
    <% m.unseen == true ? unseen = "unseen" : unseen = "" %>
    <tr class="<%= trclass.to_s %> <%= unseen %>">
       <%= render :partial => 'messages/row', :object => m %>
    </tr>
    <% trclass == :even ? trclass = :odd : trclass = :even %>
    <% end %>
    </tbody>
    </table>

<div class="actions-bar wat-cf">
    <%= will_paginate @messages %>
</div>

</div>
