<div id="search" class="ops">
<p>
    <%= t(:search) %>
    <%= t(:in_message_field) %>
    <select name="search_field"><%= options_for_select($defaults["msg_search_fields"])%></select>
    <%= t(:string) %>
    <input type="text" name="search_value" value="" size='16' id='search_value'/>
    <%= submit_tag(t(:search), :name=>'search')%>
</p>
</div>
