<% content_for :sidebar do %>
<%= render :partial => 'folders/list' %>
<% end %>

<% content_for :title do %>
- <%= t(:compose,:scope=>:compose) %>
<% end %>

<div class="block" id="block-tables">
    <div class="secondary-navigation">
        <%= raw main_navigation(:compose) %>
    </div>
    <div class="content"><%= params.inspect %>
        <%= form_tag(messages_ops_path)%>

        </form>
    </div>
</div>

