<% content_for :sidebar do %>
<%= render :partial => 'folders/list' %>
<% end %>

<% content_for :title do %>
- <%= t(:messages) %>
<% end %>

<div class="block" id="block-tables">
    <div class="secondary-navigation">
        <%= raw main_navigation(:messages) %>
    </div>
    <div class="content">
        <%= form_tag({:controller=>'messages', :action=>'ops'})%>

        </form>


<% if @current_folder.nil? %>
<%= t(:no_folder_selected) %>
<% else %>

<h1>Current: <%= pretty_folder_name(@current_folder) %></h1>

<%= @current_folder.inspect %>
<%= Time.now - @current_folder.msgs_updated_at %>

<% end %>


    </div>
</div>


