<% content_for :sidebar do %>
<%= render :partial => 'folders/list' %>
<% end %>

<% content_for :title do %>
- <%= t(:messages,:scope=>:message) %>
<% end %>

<div class="block" id="block-tables">
    <div class="secondary-navigation">
        <%= raw main_navigation(:messages) %>
    </div>
    <div class="content">
        <%= form_tag({:controller=>'messages', :action=>'ops'},{:name=>'messages'})%>

            <% if @current_folder.nil? %>
                <h2><%= t(:no_selected,:scope=>:folder) %></h2>
            <% end %>

            <% if @messages.size.zero? %>
                <div class="actions-bar wat-cf">
                    <div class="header_info"><%= t(:no_in,:scope=>:message) %></div>
                </div>
            <% else %>
                <%= render :partial => 'ops' %>
                <%= render :partial => 'list' %>
            <% end %>

        </form>
    </div>
</div>


