<% content_for :sidebar do %>
<%= render :partial => 'folders/list' %>
<% end %>

<% content_for :title do %>
- <%= t(:messages) %>
<% end %>

<div class="block" id="block-tables">
    <div class="secondary-navigation">
        <%= raw main_navigation(:messages) %>
    </div>
    <div class="content">
        <%= form_tag({:controller=>'messages', :action=>'ops'})%>

            <%  #render :partial => 'search' %>
            <%= render :partial => 'ops' %>

            <%= raw form_button(t(:ops),'tick.png') %>

            <% if @current_folder.nil? %>
                <h2><%= t(:no_folder_selected) %></h2>
            <% else %>
                <h2><%= t(:current) %>: <%= pretty_folder_name(@current_folder) %></h2>
            <% end %>

            <% if @messages.size.zero? %>
                <%= t(:no_messages) %>
            <% else %>
                <%= render :partial => 'list' %>
            <% end %>

        </form>
    </div>
</div>


