<% content_for :title do %>
  <%= t(:login,:scope=>:user) %>
<% end %>

<div id="box">
<div class="block">
<div id="logo"><a href="/"><img src="<%= current_theme_image_path('logo_small.png')%>" alt="Mailr"/></a>
</div>
<h2><%= t(:login,:scope=>:user) %></h2>
	<div class="content login">
		<div class="flash">
		<% if flash[:error] %>
			<div class="message error"><p><%= flash[:error] %></p></div>
		<% elsif flash[:notice] %>
			<div class="message notice"><p><%= flash[:notice] %></p></div>
		<% end %>
		</div>
	<form action="<%=url_for(:controller => 'user', :action => 'authenticate')%>" method="post" class="form login">
		<div class="group wat-cf">
			<div class="left">
                <label class="label right"><%= User.human_attribute_name('email') %></label>
			</div>
			<div class="right">
				<%= text_field "user", "email" %>
			</div>
		</div>
		<div class="group wat-cf">
			<div class="left">
				<label class="label right"><%= User.human_attribute_name('password') %></label>
			</div>
			<div class="right">
                <%= password_field "user", "password" %></td>
			</div>
		</div>
		<div class="group navform wat-cf">
			<div class="right">
				<button class="button" type="submit">
					<img src="<%= current_theme_image_path('key.png')%>" alt="login" /> <%= t :log_in %>
                </button>
			</div>
		</div>
	</form>
	</div>
</div>
</div>
