<div class="block">
	<h3><%=t(:folders,:scope=>:folder) %> <%= link_to t(:refresh), messages_refresh_path, :class=>'minor' %></h3>
	<div class="content">
	<% if @folders_shown.size.zero? %>
	<p><%= t(:no_shown,:scope=>:folder) %></p>
	<% else %>
	<ul class="navigation folders">
		<% @folders_shown.each do |folder| -%>
		<% if folder == @current_folder %>
		<li class="selected"><%= raw folder_link(folder) %></li>
		<% else %>
		<li><%= raw folder_link(folder) %></li>
		<% end %>
		<% end -%>
	</ul>
	<% end %>
	<br/>
	<%= raw form_button_value('logout','tick.png',user_logout_path) %>
	</div>
</div>
