<div id="login" <%= 'class="login_error"' if flash['error'] %>>
  <h1>Mailr</h1>
  <% if flash['error'] %>
    <div id="SystemError"><%= flash['error'] %></div>
  <% elsif flash['status'] %>
    <div id="SystemStatus"><%= flash['status'] %></div>
  <% end %>
  <form action="<%=url_for(:controller => 'login', :action => 'authenticate')%>" method="post">
    <table class="form_layout">
      <tr>
        <th><label for="email"><%= t :email %>:</label></th>
        <td><%= text_field "login_user", "email" %></td>
      </tr>
      <tr>
        <th><label for="password"><%= t :password %>:</label></th>
        <td><%= password_field "login_user", "password" %></td>
      </tr>
      <tr>
        <td colspan="2" class="form_actions">
          <input type="submit" name="submit" value="<%= t :log_in %>"/>
        </td>
      </tr>
    </table>
  </form>
  <b class='cn tl'></b>
  <b class='cn tr'></b>
  <b class='cn bl'></b>
  <b class='cn br'></b>
</div>
