<% content_for :sidebar do %>
<%= render :partial => 'folders/list' %>
<% end %>

<% content_for :title do %>
- <%= t(:prefs,:scope=>:prefs) %>
<% end %>

<div class="block" id="block-tables">
    <div class="secondary-navigation">
        <%= raw main_navigation(:prefs) %>
    </div>
    <div class="content">
        <div class="inner"> <%= form_tag(prefs_update_path,:name=>'prefs') %>
            <div class="columns wat-cf">
                <div class="column left">
                    <%= render :partial => 'prefs/left' %>
                </div>
                <div class="column right">
                    <%= render :partial => 'prefs/right' %>
                </div>
            </div></form>
        </div>
    </div>
</div>
