<% content_for :sidebar do %>
<%= render :partial => 'folders/list' %>
<% end %>

<% content_for :title do %>
- <%= t(:contacts,:scope=>:contact) %>
<% end %>

<div class="block" id="block-tables">
    <div class="secondary-navigation">
        <%= raw main_navigation(:contacts) %>
    </div>
    <div class="content">
        <div class="inner">
        <div class="actions-bar wat-cf">
              <div class="header_info"><%= t(:modifying,:scope=>:contact) %></div>
        </div>
            <%= form_for(@contact) do |f| %>
            <div class="columns wat-cf">
                <div class="column left">
                    <%= render :partial => 'left' %>
                </div>
                <div class="column right">
                    <%= render :partial => 'right' %>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>
